{% extends 'base.html' %}
{% block title %}Blog{% endblock %}


{% block carousel %}{% endblock %}
{% block content %}{% endblock %}

{% block btn_crear %}
<div class="container text-center" style="padding-bottom:30px;">
  <a href="{{url_for('blog.create')}}" class="btn btn-outline-dark mr-sm-2 btn-lg">New Post</a>
</div>
{% endblock %}


{% block cards %}

{% if not posts %}
<div class="container">
  <div class="alert alert-primary" role="alert">
    <h3>Nothing? Start creating a post!</h3>
  </div>
</div>
{% endif %}
{% for post in posts %}

<article>
  <div class="container">


    <div class="card border-dark mb-3">
      <div class="card-header"> <i>By {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</i></div>

      <div class="card-body text-dark">
        <h5 class="card-title">{{ post['title'] }}</h5>
        <p class="card-text">{{ post['body'] }}</p>
        <div class="text-right">
          {% if g.user['id_user'] == post['id_user']%}
          <a href="{{url_for('blog.edit', id=post['id_post'])}}" class="btn btn-outline-dark">Edit</a>
          <a href="{{url_for('blog.delete', id=post['id_post'])}}" class="btn btn-outline-danger" onclick="return confirm('Are you sure?')">Delete</a>
          {% endif %}
        </div>
      </div>
      {% if not loop.last %}
      <hr>
      {% endif %}
    </div>
  </div>
</article>
{% endfor %}

{% endblock %}
