<!--imports-->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!--end imports-->

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='icon.ico')}}">
{% endblock %}
{% block title %}Register{% endblock %}


<!--body-->
{% block body %}

<!--content-->
{% block content%}
<div class="container">
  <div class="row" id="row_register">
    <div class="col-sm-4">
      <!--column without functionality-->
    </div>
    <div class="col-sm-4">
      <form action="" method="POST" id="form_register">

        <div class="form-group">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
            {{ message }} or go to
            <a href="{{url_for('auth.login')}}">Login</a> page.
          </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <h1>Register</h1>
        </div>
        {{ form.csrf_token }}
        <div class="form-group">
          {{ wtf.form_field(form.username) }}
        </div>
        <div class="form-group">
          {{ wtf.form_field(form.password)}}
        </div>
        <div class="form-group">
          {{ wtf.form_field(form.confirm_pwd) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      <!--column without functionality-->
    </div>
  </div>
</div>
{% endblock %}
<!--end content-->

{% endblock %}
<!--end body-->
